custom_components/pool_controller/pool_controller_dashboard_frontend.code-workspace
# Home Assistant
config/
*.db
*.db-shm
*.db-wal
*.log
__pycache__/
*.py[cod]
.DS_Store

# Python virtual environments
.venv/
*.json.bak
brands/
